* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  min-height: 100vh;
  place-items: center;
}
.grid {
  display: grid;
}
.grid-2-c {
  grid-template-columns: repeat(2, 1fr);
}
