* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(233, 47%, 7%);
  font-family: "Inter", sans-serif;
  /* font-family: "Lexend Deca", sans-serif; */
}
main {
  display: grid;
  min-height: 100vh;
  place-items: center;
}
.grid {
  display: grid;
  color: #fff;
}
.grid-2-c {
  grid-template-columns: repeat(2, 540px);
  grid-template-rows: 446px;
}
.box-1 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 64px;
  border-radius: 12px 0 0 12px;
}
.box-2 {
  border-radius: 0 12px 12px 0;
  overflow: hidden;
  background-image: linear-gradient(
      to right,
      hsla(277, 100%, 50%, 0.3),
      hsla(277, 100%, 50%, 0.3)
    ),
    url(images/image-header-desktop.jpg);
}

.color-l {
  color: hsl(277, 64%, 61%);
}
h1 {
  font-weight: 700;
  font-size: 32px;
}
.dis-text {
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.6);
}
.m-box {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
}
.n-box {
  display: flex;
  gap: 100px;
}
.m-d {
  color: hsla(0, 0%, 100%, 0.6);
  font-weight: 400;
  font-size: 15px;
}
.m-h {
  font-weight: 700;
}

.box {
  background-color: hsl(244, 38%, 16%);
}
.img {
  opacity: 0;
  width: 100%;
}
